// Your custom color SCSS settings go here...
$black: #000000;
$white: #FDFFFC;
$red: #E71D36;
$blue: #2EC4B6;
$yellow: #FF9F1C;

// Override bootstrap styles here. See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $black;
$danger: $yellow;
$warning: $red;

.noline, .noline:hover{
    text-decoration-line: none;
}